body {
    margin: 0;
    font-family: sans-serif;
}

h3 {
    margin: 0;
}

.container {
    background-color: coral;
    min-height: 100vh;
    padding: 30px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: flex-start;
    gap: 30px;
}

.card {
    background-color: silver;
    padding: 15px;
    text-align: center;
    position: relative;
    border-radius: 8px;
    background-image: url("/images/sonya.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.default {
    background-image: url("/images/png-cat.png");
    background-size: contain;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #dedede90;

}

.card>* {
    position: relative;
}

.card__like {
    position: absolute;
    top: 8px;
    right: 8px;
    color: crimson;
    cursor: pointer;
}

.card h3 {
    margin-bottom: 5px;

}